*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.forgetLink{
    color: red;
    text-decoration: none;
}